<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Hotel HOUSE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chambre</a>
        </li>
               <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Restaurant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Spa</a>
        </li>
               <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Réservation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Avis</a>
        </li>
               <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">L'hôtel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Actualité</a>
        </li>
               <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">S'inscrire</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="#">Espace perso</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Espace admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Ajouter un membre</a></li>
            <li><a class="dropdown-item" href="#">Ajouter un slider</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"> Ajouter une chambre</a></li>
            <li><a class="dropdown-item" href="#"> Ajouter une commande</a></li>
          </ul>
        </li>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-right">
      		<a class="flags flags-margin" href="?locale=fr">
						<img src="http://img15.hostingpics.net/pics/625882frenchflag.png" title="français" alt="français">
			</a>
			<a class="flags" href="?locale=en">
						<img src="http://img15.hostingpics.net/pics/204659englishflag.png" title="english" alt="english">
			</a>
      
      </ul>
    </div>
  </div>
</nav>