{% extends "base.html.twig" %}

{% block title %}Tous les slider{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Tous les Slider</h1>

    <div class="row">
        <div class="col-10 mx-auto my-4">
            <h2 class="text-center">les sliders</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Photo</th>
                    <th>Ordre</th>
                    <th>Date Enregistrement</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for slider in sliders %}
                    
                
                    <tr>
                        <td>{{ slider.id }}</td>
                        <td>
                        <img src="{{ asset('uploads/' ~ slider.photo) }}"
                         alt="photo du slider" width="80" class="img-thumbnail">
                        </td>
                        <td>{{ slider.ordre }}</td>
                        <td>{{ slider.createdAt | date('d/m/Y') }}</td>
                        <td>
                            <a href="#" class="text-info" title="Créer Slider"><i></i></a>
                            <a href="#" class="text-info" title="Modifier Slider"><i></i></a>
                            <a href="#" class="text-info" title="Supprimer Slider"><i></i></a>
                                                
                        </td>
                    </tr>
                {% endfor %}
                </tbody>            
            </table>
        
        
        
        
        
        
        </div>
    </div>



{% endblock %}